#body {
    background-color: #353069;
}
}
#carousel1 {
    padding-left: 12.5%;
    padding-right: 12.5%;
    background-color: #353069;
}
.titulos {
    color: white;
    background-color: #353069;
    display: flex;
    justify-content: center;
    padding: 15px;
}
#imagenes{
    background-color: #353069;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    padding-bottom: 15px;

}
#nombres {
    background-color: #353069;
    display: inline-flex;
    justify-content: center;
    color: white;
    padding-bottom: 15px;
    font-size: 25px;
}
#texto1 {
    display: inline-flex;
    justify-content: center;
    color:grey;
    margin-top: 0%;
    background: #353069;
    padding-top: 15px ;
    border-right: white solid 0.5px;
    padding-left: 55px;
    padding-right: 55px;
}
.footer{
    background: linear-gradient(180deg, #353069 0%, #061121 30%);
    color: grey;
}
