#contenedor{
    width: 1500px;
    height: 300px;
    border-style: solid; border-color: black;
    display: inline-flex;
    justify-content: space-between;
}
#uno{
    width: 300px;
    height: 300px;
    color: white;
    font-size: 20px;
    background-color:red;
    display: inline-flex;
    justify-content: center;  
    align-items: center;
}
#dos{
    width: 300px;
    height: 300px;
    color: white;
    font-size: 20px;
    background-color: blue;
    display: inline-flex;
    justify-content: center;  
    align-items: center;
    }
#tres{
    width: 300px;
    height: 300px;
    color: white;
    font-size: 20px;
    background-color: green;
    display: inline-flex;
    justify-content: center;  
    align-items: center;