.lista-1{
    color: rgb(245, 136, 55) ;
    font-family: Georgia;
    font-size: 20px;
    background-color: bisque;
    width: 150px;
    height: 85px;
    padding-top: 10px;
}
#nombre{
    color:rgb(245, 136, 55);
    width: 200px;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    font-family: cambria;
    text-decoration: underline; 
    text-decoration-color: black;
    font-weight: bold;
}
.texto-1{
    color: black;
    font-size: 16px;
    width: 280px;
    height: 140px;
    background: #ff8100;
    background: linear-gradient(15deg,#ff8100 0%, #a500ff 80%);
    background: -webkit-linear-gradient(15deg,#ff8100 0%, #a500ff 80%);
    background: -moz-linear-gradient(15deg,#ff8100 0%, #a500ff 80%);
    padding: 10px;
    box-sizing: border-box;/* ajusta el tamaño para que el padding no aumente el tamaño */
    border-radius: 15px 0 15px 30px;
    box-shadow: 10PX 10PX 5px black;
    text-align: justify;

}
h6{
    text-align: right;

}
#foto-1{
    text-align: center;
    margin-top: 35px;
    border: 5px solid;

}
.titulo-1{
    color: rgb(245, 136, 55);
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: black;
}
.informacion{
    text-align: right;
    font-size: 14px;
    color: black;
    background: #ff8100;
    background: linear-gradient(15deg,#ff8100 0%, #a500ff 80%);
    background: -webkit-linear-gradient(15deg,#ff8100 0%, #a500ff 80%);
    background: -moz-linear-gradient(15deg,#ff8100 0%, #a500ff 80%);
}
s