.lista-1{
    color: black;
    font-family: Georgia;
    font-size: 20px;
    background: #ffa7a7;
    background: linear-gradient(197deg,#ffa7a7 35%, #00fff0 80%);    width: 150px;
    height: 85px;
    padding-top: 10px;
}
#nombre{
    color:#ffa7a7;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    font-family: cambria;
    text-decoration: underline; 
    text-decoration-color: black;
    font-weight: bold;
}
.texto-1{
    color: black;
    font-size: 16px;
    width: 280px;
    height: 140px;
    background: #ffa7a7;
    background: linear-gradient(197deg,#ffa7a7 35%, #00fff0 80%);
    background: -webkit-linear-gradient(197deg,#ffa7a7 35%, #00fff0 80%);
    background: -moz-linear-gradient(197deg,#ffa7a7 35%, #00fff0 80%);    
    padding: 10px;
    box-sizing: border-box;/* ajusta el tamaño para que el padding no aumente el tamaño */
    margin-top: 50px;
    text-align: justify;

}
h6{
    text-align: right;

}
#foto-1{
    width: 810px; height: 410px;
    margin: 0 auto;
    margin-top: 35px;
    border: 5px solid;
    box-sizing: border-box;
    background: #ffa7a7;
    background: linear-gradient(197deg,#ffa7a7 35%, #00fff0 80%);

}
.titulo-1{
    color: #ffa7a7;
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: black;
}
.informacion{
    text-align: right;
    font-size: 14px;
    color: black;
    background: #ffa7a7;
background: linear-gradient(197deg,#ffa7a7 35%, #00fff0 80%);
background: -webkit-linear-gradient(197deg,#ffa7a7 35%, #00fff0 80%);
background: -moz-linear-gradient(197deg,#ffa7a7 35%, #00fff0 80%);
}
