<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  
</head>
<nav>
  <ul>
    <li> <a href="/">Inicio</a></li>
    <li> <a href="/Nosotros">Quienes somos?</a></li>
    <li> <a href="/Contacto">Contatcta con Nosotros</a></li>
    <li> <a href="/Servicios"> Nuestros servicios</a></li>
    <li> <a href="/FAQ">FAQ</a></li>

  </ul>
</nav>

<body>
  {{{body}}}
</body>

</html>